<h1>Edit existing article</h1>

<% if @article.errors.any? %>
<h2>The following error prevented the article prevented the article from being created:</h2>
  <% @article.errors.full_messages.each do |msg| %>
  <ul>
    <li><%= msg %></li>
  </ul>
  <% end %>
<% end %>

<%= render 'form' %>
